<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>BH_Lin</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>Network Neighborhood Linker</string>
	<key>CFBundleIdentifier</key>
	<string>com.bh.safari.networkneighborhood2smb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>An easy way to open the link of network neighborhood on address bar via SMB.</string>
	<key>DeveloperIdentifier</key>
	<string>VH8FYD6YYB</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://studiobinghuan.blogspot.tw/?view=flipcard</string>
</dict>
</plist>
